<!-- MAIN PAGE -->
<div class='nav-container' id='main-page'>
    <div class='top-navbar'>
        <div>
            <div class="left" style="margin-top: 12px; margin-left: 10px;">
                <div class="breadcrumb-container" style="margin-left: 30px;">
                    <span id='breadcrumb'>Banyan Interview Test</span>
                </div>
            </div>

            <div id="login_user_form" style="display: block">
                <div class="right top-nav-tab">
                    <div style="margin-right: 30px; margin-top: 15px; color: white;">
                        <a class="waves-effect waves-light btn green" onclick="editDataSource()">Data Source</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class='main-content' id='main-content'>
    </div>
</div>
